
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .footer {
            margin-bottom: 10px;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #d9edf7;
            color: #9d9d9d;
            text-align: center;
        }

        .test {
            color: black;
        }
    </style>



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#d9edf7;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home Page", "Index", "Show", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="test">@Html.ActionLink("PO", "ShowPo", "Show")</li>
                    <li> @Html.ActionLink("PR", "ShowPR", "Show")</li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color:black">( @Session["User_name"] )</a></li>
                    <li>@Html.ActionLink("Sign Out", "LoginIndex", "Login")</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <p style="margin-top:5px">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
